Package: vyatta-yggdrasil
Version: 0.1.96
Section: contrib/net
Priority: extra
Architecture: mipsel
Replaces: vyatta-yggdrasil
Maintainer: Neil Alexander <neilalexander@noreply.users.github.com>
Depends: vyatta-cfg-system, vyatta-cfg, vyatta-op
Description: Vyatta yggdrasil package
 Binary yggdrasil package for Vyatta platforms such as
 the Ubiquiti EdgeRouter X and EdgeRouter Lite
