Package: vyatta-yggdrasil-semver
Version: 0.1.1-5
Section: contrib/net
Priority: extra
Architecture: mipsel
Maintainer: Neil Alexander <neilalexander@noreply.users.github.com>
Depends: vyatta-cfg-system, vyatta-cfg, vyatta-op
Description: Vyatta yggdrasil package
 Binary yggdrasil package for Vyatta platforms such as
 the Ubiquiti EdgeRouter X and EdgeRouter Lite
Replaces: vyatta-yggdrasil
